# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Model files
*.pt
*.onnx
*.pth

# Dataset
RDD2020/
Dataset/
*.tar.gz
*.zip

# Prediction results
results/


# Environment variables
.env
*.env

# IDE
.vscode/
.idea/

# Logs
*.log